{% extends "panel/base.html" %}
{% load static %}
{% block content %}
{% include "panel/header.html" %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row gy-4 align-items-center">
            <!-- article -->
            <div class="col-md-4 col-xs-6 text-center text-uppercase">
                <div class="compte">
                    <a href="{% url 'account-option' %}">
                        <button type="button" class="btn btn-primary mt-5" style="width: 100%;border-radius:20px">
                            Votre Compte
                        </button>
                    </a>
                </div>
                <div class="compte">
                    <a href="{% url 'account-orders' %}">
                        <button type="button" class="btn btn-primary mt-5" style="width: 100%;border-radius:20px">
                            Vos Commandes
                        </button>
                    </a>
                </div>
                <div class="compte">
                    <a href="">
                        <button type="button" class="btn btn-primary mt-5" style="width: 100%;border-radius:20px">
                            Boîte de réception
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-8 col-xs-6">
                <h4>
                    Vos commandes
                </h4>
                {% for i in ordered_items %}
                <div class="card">
                    <img src=" {{ i.product.image.url }} " class="card-img-top" width="100%"
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- /article -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

{% include "panel/footer.html" %}
{% endblock content %}
