{% extends "panel/base.html" %}
{% load static %}
{% block content %}
{% include "panel/header.html" %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row gy-4 align-items-center">
            <!-- article -->
            <div class="col-md-4 col-xs-6 text-center text-uppercase">
                <div class="compte">
                    <a href="{% url 'account-option' %}">
                        <button type="button" class="btn btn-primary mt-5" style="width: 100%;border-radius:20px">
                            Votre Compte
                        </button>
                    </a>
                </div>
                <div class="compte">
                    <a href="{% url 'account-orders' %}">
                        <button type="button" class="btn btn-primary mt-5" style="width: 100%;border-radius:20px">
                            Vos Commandes
                        </button>
                    </a>
                </div>
                <div class="compte">
                    <a href="">
                        <button type="button" class="btn btn-primary mt-5" style="width: 100%;border-radius:20px">
                            Boîte de réception
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-8 col-xs-6">
                <h4>Vos commandes</h4>
                <div class="row">
                    {% for i in ordered_items %}
                    <div class="col-md-3 col-xs-6">
                        pass
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- /article -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

{% include "panel/footer.html" %}
{% endblock content %}
