asgiref==3.6.0
autopep8==2.0.1
cssselect2==0.7.0
Django==4.1.5
django-ckeditor==6.5.1
django-classy-tags==4.0.0
django-cms==3.11.1
django-filer==2.2.4
django-formtools==2.4
django-js-asset==2.0.0
django-mptt==0.14.0
django-polymorphic==3.1.0
django-sekizai==4.0.0
django-treebeard==4.6.0
djangocms-admin-style==3.2.3
djangocms-slick-slider==1.0.7
easy-thumbnails==2.8.5
fontawesomefree==6.2.1
jsonfield==3.1.0
lxml==4.9.2
Pillow==9.4.0
pycodestyle==2.10.0
reportlab==3.6.12
sqlparse==0.4.3
svglib==1.5.1
tinycss2==1.2.1
tomli==2.0.1
Unidecode==1.1.2
webencodings==0.5.1
