{% load static %}

<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    {% if request.path != '/cart/checkout/' %}
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> {{ user.telephone }} </a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> {{ user.email }}</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'account-manage' %}"><i class="fa fa-user-o"></i> {{ user.last_name }} </a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Déconnexion </a></li>
                    {% else %}
                    <li><a href="{% url 'signin' %}"><i class="fa fa-user-o"></i> Se connecter</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    {% endif %}
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="{% url 'accueil' %}" class="logo">
                            <img src='{% static "images/logo.png" %}' alt="Logo Dexter">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                {% if request.path != '/cart/checkout/' %}
                    <div class="col-md-6">
                        <div class="header-search">
                            <form>
                                <select class="input-select">
                                    <option value="0">Categories</option>
                                    <option value="1">Category 01</option>
                                    <option value="1">Category 02</option>
                                </select>
                                <input class="input" placeholder="Rechercher ici">
                                <button class="search-btn">Rechercher</button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-6">
                        <div class="text-center">
                            <h3 style="color: antiquewhite;">
                                Passez votre commande
                            </h3>
                        </div>
                    </div>
                {% endif %}
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                {% if request.path != '/cart/checkout/' %}
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            <div>
                                <a href="#">
                                    <i class="fa fa-heart-o"></i>
                                    <span>Vos envies</span>
                                    <div class="qty">2</div>
                                </a>
                            </div>
                            <!-- /Wishlist -->

                            <!-- Cart -->
                            <div>
                                {% if user.cart %}
                                <a href="{% url 'cart' %}">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Votre panier</span>
                                    <div class="qty">
                                        {{ user.cart.orders.count }}
                                    </div>
                                </a>
                                {% endif %}
                                
                            </div>
                            <!-- /Cart -->

                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            <div>
                                <a href="#">
                                    <span>Appellez-nous</span>
                                </a>
                            </div>
                            <!-- /Wishlist -->

                            <!-- Cart -->
                            <div>
                                <a href="#">
                                    <span>Retours faciles</span>
                                </a>
                            </div>
                            <!-- /Cart -->

                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>    
                {% endif %}
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->
<!-- NAVIGATION -->
{% include "panel/navigation.html" %}
<!-- /NAVIGATION -->