{% extends "panel/base.html" %}
{% load static %}
{% block content %}
{% include "panel/header.html" %}

<div class="section">
    <div class="container">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="nom" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="nom">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="prenom" class="form-label">Prénom</label>
                        <input type="text" class="form-control" id="prenom">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="telephone" class="form-label">Téléphone</label>
                        <input type="tel" class="form-control" id="telephone">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="autre_telephone" class="form-label">Autre téléphone</label>
                        <input type="tel" class="form-control" id="autre_telephone">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="adresse" class="form-label">Adresse</label>
                <input type="text" class="form-control" id="adresse" >
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="region" class="form-label">Région</label>
                        <input type="text" class="form-control" id="region">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="ville" class="form-label">Ville</label>
                        <input type="text" class="form-control" id="ville" >
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="products-tabs">
                    <!-- tab -->
                    <div id="tab1" class="tab-pane active">
                        <div class="products-slick" data-nav="#slick-nav-1">
                            <!-- product -->
                            {% for item in items %}
                            <div class="product">
                                <div class="product-img">
                                    <img src='{{ item.product.image.url }}' alt=" {{ item.product.name }} ">
                                </div>
                                <div class="product-body">
                                    <p class="product-category"> {{ product.category }} </p>
                                    <h3 class="product-name"><a href="#">{{ item.product.name }}</a></h3>
                                    <h4 class="product-price">Quantité : {{ item.quantity }} </h4>
                                    <h4 class="product-price">Prix : {{ item.product.price }} FCFA</h4>
                                    <!-- JE DOIS GÉRER LES ANCIENS PRIX -->
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- /product -->
                        </div>
                        <div id="slick-nav-1" class="products-slick-nav"></div>
                    </div>
                    <!-- /tab -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="col-6 col-md-12 col-xs-6 text-center cart-area-color">
            <h3>Résumé de la commande</h3>
            {% if items %}
                <p>
                    Total articles : {{ items.count }}
                </p>
                <p>
                    Prix de tous les articles : {{ total_price }}
                </p>
                <p>
                    Frais de livraison : 1000 FCFA
                </p>
                <h4>
                    Total : {{ total_price }}
                </h4>
            {% endif %}
            <!-- <br />
            {% if commande %}
                <p><span style="font-weight:bold">Prix panier</span>: {{ total_price }}</p>
                <a href="{% url 'cart-delete' %}"><span style="font-size: 1em;"><i class="fa-regular fa-trash"></i> Supprimer le panier</span></a>
            {% else %}
                <p><span style="font-weight:bold">Votre panier est vide</span></p>
            {% endif %} -->
        </div>
    </div>
</div>
{% endblock %}

