{% extends "panel/base.html" %} 
{% load static %} 
{% block content %} 
{% include "panel/header.html" %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row gy-4 align-items-center">
            <!-- article -->
            {% for order in orders  %}
            <h2>{{ order.product.name }}</h2>
            <img src="{{ order.product.image.url }}" alt="{{ order.product.name }}" style="max-width: 250px;"> <br />
            <p>Quantité commandée : {{ order.quantity }}</p>
            <form method="POST" action="{% url 'cart-article-delete' slug=order.product.slug %}">
                {% csrf_token %}
                {% comment %} <button type="submit"></button> {% endcomment %}
                <button type="submit" class="btn btn-primary mt-5" style="border-radius:20px"><i class="fa-regular fa-trash"></i> Supprimer l'article</span></button>
                </form>
            {% endfor %}
            <!-- /article -->
        </div>
        <div>
            <a href="{% url 'cart-delete' %}"><span style="font-size: 1.5em;"><i class="fa-regular fa-trash"></i> Supprimer le panier</span></a>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{% include "panel/footer.html" %} {% endblock content %}